<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bank_app/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="{% url 'bank_app:bank' %}">Home</a></li>
            <li><a href="{% url 'bank_app:sign_up' %}">Register new customer</a></li>
        </ul>
    </nav>

    <h1>Hello, {{ user.username }}</h1>
    <a href="{% url 'login_app:logout' %}">Logout</a>
    <hr>

    <p>Here are your customers:</p>
    <ul>
        {% for user in users  %}
            <li><a href="/{{user.pk}}">{{ user.username }}</a></li>
        {% endfor %}
    </ul>
    
</body>
</html>