<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking system</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bank_app/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a class="active" href="{% url 'bank_app:index' %}">Create Account</a></li>
            <li><a href="{% url 'bank_app:transaction' %}">Transfer & Transactions</a></li>
            <li><a href="{% url 'bank_app:loan' %}">Loan</a></li>
            <li><a href="{% url 'login_app:logout' %}">Logout</a></li>
        </ul>
    </nav>

    <h1>Hi {{ user.username }}</h1>
    <p>Here are your accounts:</p>
    <ul>
    {% for account in accounts  %}
        <li>{{ account.account_name }}</li>
        {% endfor %} 

   



</ul>




    <hr />
    <form action="." method="POST">
        <h2>Create a new account</h2>
       {% csrf_token %}
       <input type="text" name="text" placeholder="The name of the account" />
       <button>Create account</button>
    </form>
</body>
</html>