<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bank_app/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'bank_app:bank' %}">Home</a></li>
            <li><a href="{% url 'bank_app:sign_up' %}">Register new customer</a></li>
        </ul>
    </nav>

    <h2>{{ user.userprofile.role }}: {{ user.first_name }} {{ user.last_name }}</h2>
    <div class="basic_info">
        <p>Phone number: {{ user.userprofile.phone }}</p>
        <p>Email Address: {{ user.email }}</p>
        <p>Membership: {{ user.userprofile.membership }}</p>

        <form action="{% url 'bank_app:update_status' %}" method="POST">
            <p>Update membership</p>
           {% csrf_token %}
            <select name="membership">
                <option value="basic">Basic</option>
                <option value="silver">Silver</option>
                <option value="gold">Gold</option>
            </select>
            <input type="hidden" name="pk" value="{{user.pk}}">
            <br>
            <input type="submit" value="Update customer">
        </form>
    </div>
    <hr>

    <div>
        <h3>Accounts associated with this {{ user.userprofile.role }}</h3>
        <ul>
        {% for account in accounts  %}
            <li>{{account.account_name}}</li>
        {% endfor %} 
        </ul>
    </div>

</body>
</html>