<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bank_app/style.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'bank_app:index' %}">Create Account</a></li>
            <li><a class="active" href="{% url 'bank_app:transaction' %}">Transfer & Transactions</a></li>
            <li><a href="{% url 'bank_app:loan' %}">Loan</a></li>
            <li><a href="{% url 'login_app:logout' %}">Logout</a></li>
        </ul>
    </nav>

    <h1>Hi {{ user.username }}</h1>

    <div class="row">
    

  
    <div class="transaction">
        <h2>See your transactions:</h2>
    {% for transaction in transactions %}
        <p>From: {{transaction.account}}</p>
        <p>To: {{transaction.account_to}}</p>
        <p>Description: {{transaction.description}}</p>
        <p>Amount: {{transaction.amount}}</p>
        <p>You now have: {{transaction.amount}}</p>
    {% endfor %}
    </div>
 
    <div class="balance">
    <h2>See your balance for each of your accounts:</h2>
    <ul>
        {% for transaction in transactions %}
        <li>{{ transaction.account }} <br> <b>Balance: {{transaction.amount}}</b></li>
        {% endfor %} 



    </ul>
  
</div>


</div>
    <hr>



    <form action="." method="post">
        {% csrf_token %}
        <select name="from_account">
       {% for my_account in my_accounts  %}
            <option value="{{my_account.account_name}}">{{my_account.account_name}}</option>
        {% endfor %}  
        </select>
        <br>
        <input type="number" name="amount" placeholder="Amount">
        <input type="text" name="description" placeholder="Description">
        <select name="to_account">
        {% for account in accounts  %}
            <option value="{{account.account_name}}">{{account.account_name}}</option>
        {% endfor %} 
        </select>
        <input type="hidden" name="transaction_id" value={{ran_number}}>
        <br>
        <input type="submit" value="Transfer">
    </form>

</body>
</html>