h1 {
    color: #8799b0;
} 

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gainsboro;
  }
  
nav li {
    float: left;
  }
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover:not(.active) {
    background-color: white;
  }

nav .active {
    background-color: rgb(180, 180, 180);
  }

form{
    width: 700px;
    margin: auto;
  }

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit]{
    background-color: #8799b0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.transaction{
  border: solid 1px #8799b0;
  float: left;
  width: 50%;
  padding: 10px;
  max-height: 360px;
  overflow: auto;


}

.balance{
  border: solid 1px #8799b0;
  float: left;
  width: 50%;
  padding: 10px;
}


* {
  box-sizing: border-box;
}