<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
 
    <a href="{% url 'login_app:password_reset' %}">Reset password</a>
    <hr>

    <form action="{% url 'login_app:login' %}" method="POST">
        {% csrf_token %} <!-- Prevents x-site scripting. Good security measure. -->
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <hr>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
    
</body>
</html>