<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf_token" content="{{ csrf_token }}">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <a href="{% url 'login_app:login' %}">Log In</a>
    <hr />
    <form action="{% url 'login_app:password_reset' %}" method="POST">
        {% csrf_token %} <!-- Prevents x-site scripting. Good security measure. -->
        <input type="email" name="email" placeholder="email">
        <input type="submit" value="Reset Password">
    </form>
    <hr />
    {% if message %}{{ message }}{% endif %}
</body>
</html>

